.mobileHeader {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 2.96rem;
  height: 100%;
  width: 10rem;
  position: fixed;  
  z-index: 999;

  .mobileNavbar {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: .5rem;
    font-weight: 700;
    font-size: .91rem;
 
    .sectionLink {
      padding: 1.25rem;     
    }
    .listLink {
      margin-top: 1rem;
    }
  }
}