// breakpoints
$mobile-breakpoint: 360px;

// color
$netflixRed: rgb(229, 9, 20);

.background {
  padding-top: 13rem;
  
  @media (max-width: $mobile-breakpoint) {
    padding-top: 7rem;
  }
  .gradient {
    background: linear-gradient(180deg, rgba(255,255,255,0) 00%, rgba(255,255,255,0) 10%, rgba(0,0,0,1) 100%);

    .heroWrapper {
      margin-left: 5rem;
      color: #fff;
      
      @media (max-width: $mobile-breakpoint) {
        margin-left: 2rem;
      }
  
      .netflixOriginal {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem;
        
        @media (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
      .serieTitle {
        font-size: 7.5rem;
        width: 45rem;
        font-weight: 700;
        margin-bottom: 1rem;
        
        @media (max-width: $mobile-breakpoint) {
          font-size: 2rem;
          width: 10rem;
        }
      }
    
      .buttonsWrapper {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;
    
        .playButton {
          flex-shrink: 0;
          margin-right: 1rem;
          font-size: 1.3rem;
          width: 12.3rem;
          background: rgba(157, 151, 151, 0.54);
          text-align: center;
          padding: 1.5rem 0;
          border-radius: .5rem;
          font-weight: 700;

          @media (max-width: $mobile-breakpoint) {
            font-size: .8rem;
            margin-right: 1rem;
            width: 8.5rem;
            padding: 1rem 0;
            border-radius: .3rem;
          }
          &:hover {
            background: rgba(157, 151, 151, 0.75);
          }
          &:active {
            background: $netflixRed;
          }
          .playIcon {
            margin-right: 1rem;
          }
        }

        .addButton {
          font-size: 1.3rem;
          border: 2px solid rgba(157, 151, 151, 0.75);
          width: 3rem;
          border-radius: 50%;
          margin: .5rem 0;
          display: flex;
          justify-content: center;
          align-items: center;
          
          &:hover {
            border: 2px solid #fff;
          }
          @media (max-width: $mobile-breakpoint) {
            font-size: .8rem;
            margin-right: 1rem;
            width: 35%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            border: none;
            background: rgba(157, 151, 151, 0.54);
            border-radius: .3rem;
            margin: 0;
            
            &:hover {
              background: rgba(157, 151, 151, 0.75);
              border: none;
            }
          }
          .buttonIcon {
            @media (max-width: $mobile-breakpoint) {
              display: none;
            }
          }

          .buttonText {
            display: none;

            @media (max-width: $mobile-breakpoint) {
              display: inline;
              font-size: .8rem;
              margin: 0 1.5rem;
              font-weight: 700;
            } 
          }
        }

      }
      .currentSeason {
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }
    
      .synopsis {
        font-size: 1.5rem;
        width: 38rem;
        line-height: 2rem;
        padding-bottom: 1rem;
        
        @media (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
    }
  }
}