// breakpoints
$mobileBreakpoint: 360px;
$notebookBreakpoint: 1300px;

.carousel {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2.75rem;
  width: 87rem;
  margin-left: 5rem;

  @media (max-width: $notebookBreakpoint) {
    width: 66rem;
  }

  @media (max-width: $mobileBreakpoint) {
    width: 18rem;
    margin-left: 2rem;
  }
  
  .carouselTitle {
    margin-bottom: 1rem;
   
    @media (max-width: $mobileBreakpoint) {
      font-size: 1.2rem;
    }
  }
  .imgContainer {
    .serieImg {
      border-radius: 5px;
      
      @media (max-width: $mobileBreakpoint) {
        width: 18rem;
      }
    }
  }
}
