// breakpoints
$mobile-breakpoint: 480px;

.carousel {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2.75rem;
  width: 1050px;

  @media (max-width: $mobile-breakpoint) {
    width: 350px;
  }

  .imgContainer {
    .serieImg {
      border-radius: 5px;
      
      @media (max-width: $mobile-breakpoint) {
        width: 350px;
      }
    }
    .carouselTitle {
      margin-bottom: 1rem;
    }
  }
}
