// breakpoints
$mobile-breakpoint: 360px;

.footer {
  font-size: .8rem;
  color: #ddd;
  display: flex;
  flex-direction: column;
  background-color: #111;
  padding-left: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid #333;
  margin-top: 2rem;

  @media (max-width: $mobile-breakpoint) {
    padding: 2rem;
  }

  .footerLinks {
    display: flex;
    flex-direction: row;
    
    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }

    .column {
      display: flex;
      flex-direction: column;
      width: 50rem; 
      justify-content: space-between;
    
      .link {
        margin-bottom: 2rem;
    
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .serviceCodeLink {
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    width: 7rem;
    border: 1px solid #ddd;
    display: inline;
  }
  .copyright {
    font-size: .7rem;
    margin-top: 2rem;
  }
}